.home {
  list-style: none;
  float: left;
  padding-top: 2rem;
  font-size: 1.3rem;
  display: inline-block;
  margin-left: 5rem;
  text-transform: uppercase;
}

.navigation {
  list-style: none;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end | space-between;
  text-decoration: none;
  color: $color-white;
  text-transform: uppercase;
    &__item {
    display: inline-block;
    margin-right: 5rem;
    text-transform: uppercase;

      &__item-link {
    text-decoration: none;
    color: rgba($color-white, .5);
  }
  }

}
.icons {
  color: rgba($color-white, .5);
  margin-right: 1rem;
  /* padding:3rem; */
}


//.home {
//  list-style: none;
//  float: left;
//  padding-top: 2rem;
//  font-size: 1.3rem;
//  display: inline-block;
//  margin-left: 5rem;
//  text-transform: uppercase;
//}
//
//.icons {
//  color: rgba($color-white, .5);
//  margin-right: 1rem;
//  /* padding:3rem; */
//}
//
//.navigation {
//  list-style: none;
//  float: right;
//  padding-top: 2rem;
//  font-size: 1.3rem;
//  display: flex;
//  justify-content: end;
//
//
//
//  &__item {
//    display: inline-block;
//    margin-right: 5rem;
//    text-transform: uppercase;
//  }
//
//  &__item-link {
//    text-decoration: none;
//    color: rgba($color-white, .5);
//  }
//}
//
//.navigation__item:hover , .navigation__item-link:hover {
//  color: rgba(255, 255, 255, 1);
//}