*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: 'EmpireSamgor';
  src: url('../../fonts/EmpireSamgor.ttf')  format("truetype"),
       local('EmpireSamgor');
}

html {
  font-size: 62.5%; //font size to 10px
  box-sizing: border-box;
}
