body {
  font-family: $default-font;
  font-size: $default-font-size;
  font-weight: 300;
  line-height: 1.7;
  color: $color-white;
}



.heading-primary {


  &--main {

  }

  &--sub {

  }
}



.heading-secondary {


}

.heading-tertiary {

}

.about__paragraph {


}

a {
  text-decoration: none;
}