.section-about {
  background-color: rgba(58, 58, 58, 1);
  color: white;
  //margin-top: -5rem;
  padding: 10rem 0;

}

.uglyme {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
  margin-left: 10rem;
}


.project__section {
  background-image: linear-gradient(rgba(58, 58, 58, 1), rgba($color-white, 0.5));
  background-size: cover;
  color: black;
  height: 70vh;
}