{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h1 class="text-center pt-3">This is my Blog</h1>
	<br />
	<br />
	<h2>Latest Posts</h2>
	<hr />
	<div>
		{% for post in post.all %}
		<img src="{{ post.image.url }}" width="400" height="500"/>
		<br />
			<h3><a href="{% url 'detail' post.id %}"> {{ post.title }}</a></h3>
		<p>{{ post.summary }}</p>
			<p><b>Posted:</b> {{ post.datecreated }}</p>
			<br />
			<p>Isaac</p>

		{% endfor %}
	</div>
</div>
{% endblock content %}
