<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% load staticfiles %}

	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/kb2.jpg' %}">

	{% if title %}
	<title> IRunPy | {{ title }} </title>
	{% else %}
	<title> IRunPy </title>
	{% endif %}
	<div class="">
		<div class="">
			<a class="" href="{%  url 'index' %}">Isaac V.</a>
		</div>
		<div class="">
		<a href="{% static 'ivr.pdf' %}">Resume</a>
		</div>
		<div class="">
		<a href="{% url 'blogposts' %}">Blog</a>
		</div>
	</div>

</head>
<body>
{% block content %}
{% endblock content %}
<footer class="text-muted">
	<div class="container text-center">
		<p> © Isaac Vazquez {% now "Y" %}</p>
	</div>
</footer>
</body>
</html>
