{% extends 'base.html' %}
{% block content %}
<p>
My name is Isaac Vazquez. I currently reside in sunny Orange County, CA. I am on a current raod to become a full stack developer. I work primarily with Django and Bootstrap, although this page is written in my own HTML and CSS code from scratch. As my skills build I hope to implement them onto this portfolio. Projects I work on will implement new features as well and new languages. Upon request I can explain every new project and its features I have learned to implement.  
</p>
{% endblock content %}
