{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="header__index">
	<div class="header__text-box">
		<h1 class="heading-primary">
			<span class="heading-primary--main">Izzy Vazquez</span>
			<span class="heading-primary--sub">I am a Full Stack Developer</span>
		</h1>
	</div>
</header>
{#<main>#}

	<section class="section-about">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary">Yo mommas nuts</h2>
		</div>
		<div class="row">
			<div class="col-1-of-2">
				<h3 class="heading-tertiary u-margin-bottom-medium">Who am I? What's My mothafuckin name?</h3>
				<p class="about__paragraph">
					My name is Isaac Vazquez, but I go by Izzy. I am a fullstack developer that works in Django for backend technology
					and works in SCSS, Html and Bootstrap for front-end languages. I am slowly creating more and more projects each month and becoming more and more
					proficient in each. Each new project contains a different stack than the previous one. I am currently building an e-commerce website with secure payments and checkouts for Scallywag Apparel. Stay tuned for more upcoming projects
					in different fields and new technologies. Thank you.</p>
			</div>
			<div class="col-1-of-2">
				<img src="{% static 'img/iv.JPG' %}" class="uglyme" />
			</div>
		</div>
	</section>

	<section>
		<div class="row">
		{% for job in jobs.all %}
			<div class="col-1-of-3">
			<a href"#"><img src="{{ job.image.url }}" width="200" height="200"/></a>
			</div>
		{% endfor %}
		</div>
		<div class="row">
		{% for job in jobs.all %}
			<div class="col-1-of-3">
			<p> {{ job.summary }}</p>
			</div>
		{% endfor %}
		</div>
	</section>

	<section>
		<div class="row">
			<h2>Blog Posts</h2>
			<div class="col-2-of-3">

			</div>
		</div>
	</section>
{#</main>#}
{% endblock content %}

<!--
<section class="grid-test">
	<div class="row">
      <div class="col-1-of-2">
        col 1 of 2
      </div>
      <div class="col-1-of-2">
        col 2 of 2
      </div>
    </div>
	<div class="row">
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-1-of-3">
			col 1 of 3
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-2-of-3">
			col 2 of 3
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-2-of-4">
			col 2 of 4
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-3-of-4">
			col 3 of 4
		</div>
	</div>
</section> -->