{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="header">
	<div class="header__text-box">
		<h1 class="heading-primary">
			<span class="heading-primary-main">I'm Isaac Vazquez</span><br />
			<span class="heading-primary-sub">I am a Full Stack Developer</span>
		</h1>
	</div>
</header>

{% for job in jobs.all %}
	<img src="{{ job.image.url }}" width="200" height="200"/>
	<p> {{ job.summary }}</p>
{% endfor %}
<div class="">
	<h2>Blog Posts</h2>
		<ul>
		
		</ul>
	</div>
{% endblock content %}
