{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="header__index">
	<div class="header__text-box">
		<h1 class="heading-primary">
			<span class="heading-primary--main">Izzy Vazquez</span>
			<span class="heading-primary--sub">I am a Full Stack Developer</span>
		</h1>
	</div>
</header>

<section>
	<div class="row">
	{% for job in jobs.all %}
		<div class="col-1-of-3">
		<a href"#"><img src="{{ job.image.url }}" width="200" height="200"/></a>
		</div>
	{% endfor %}
	</div>
	<div class="row">
	{% for job in jobs.all %}
		<div class="col-1-of-3">
		<p> {{ job.summary }}</p>
		</div>
	{% endfor %}
	</div>
</section>

<section>
	<div class="row">
		<h2>Blog Posts</h2>
		<div class="col-2-of-3">

		</div>
	</div>
</section>
{% endblock content %}

<!--
<section class="grid-test">
	<div class="row">
      <div class="col-1-of-2">
        col 1 of 2
      </div>
      <div class="col-1-of-2">
        col 2 of 2
      </div>
    </div>
	<div class="row">
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-1-of-3">
			col 1 of 3
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-3">
			col 1 of 3
		</div>
		<div class="col-2-of-3">
			col 2 of 3
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-2-of-4">
			col 2 of 4
		</div>
	</div>
	<div class="row">
		<div class="col-1-of-4">
			col 1 of 4
		</div>
		<div class="col-3-of-4">
			col 3 of 4
		</div>
	</div>
</section> -->